.bg-opacity{
    opacity: 0.6;
}

::ng-deep .mat-form-field-flex > .mat-form-field-infix { padding: 0.9em 0px !important;}
::ng-deep .mat-form-field-label-wrapper { top: -1.3em; font-size: 15px; }

::ng-deep .mat-form-field-appearance-outline.mat-form-field-can-float.mat-form-field-should-float .mat-form-field-label {
    transform: translateY(-1.1em) scale(.75);
}

  ::ng-deep .cdk-overlay-container {
    z-index: 1200 !important;
  }

  :root {
    --progress-bar-width-my-profile: 0px;
  }

  .myfont-size{
    font-size: 20px;
  }