<app-nav-bar-content [navItems]="navItems"></app-nav-bar-content>
<div class="overflow-auto ">
<div class="vh-100 overflow-x-hidden" style="overflow-y: auto;">
  <div class="bg-light text-white row p-0 m-0 vertical-center justify-content-center py-5">
    <div class="col-sm-10 row p-0 m-0 vertical-center justify-content-between">
      <div class="col-sm-3 my-3">
        <h2 class="text-black">Hi, {{user.organizationDetails.organizationName}}!</h2>
      </div>
      <div class="col-sm-4 vertical-center justify-content-end my-3">
          <div class="d-flex flex-column semi-bold  m-0 p-0 mr-3">
            <span class="text-black text-lg">{{allJobPost.length}}</span>
            <h6 class="text-dark thin-font text-ssmd">Total Job Posts</h6>
            </div>
          <!-- <div class="d-flex flex-column semi-bold m-0 p-0 ">
            <span class="text-black text-lg">{{user.profileViews ? user.profileViews : 0}}</span>
            <h6 class="text-dark thin-font text-ssmd">Application Recieved</h6>
          </div> -->
        </div>
      </div>
    </div>
    <div class="row justify-content-center p-0 m-0 py-3 pb-5">
      <div class="col-sm-11 p-0 m-0 row justify-content-between">
        <div class="col-12 col-md-6 col-lg-3 p-2 d-flex justify-content-center">
          <div class="special-card transition mx-auto" (click)="navigateToAddJobs()">
            <a>
              <span class="material-icons-outlined icon-trans display-icon transition">post_add</span>
            </a>
            <a>
              <span class="text-trans transition">Post a job</span>
              <div class="card_circle transition"></div>
            </a>
          </div>
        </div>
        <div class="col-12 col-md-6 col-lg-3 p-2 d-flex justify-content-center">
          <div class="special-card transition" routerLink="/recruiter/job-posts">
            <a>
              <span class="material-icons icon-trans display-icon transition">autorenew</span>
            </a>
            <a>
              <span class="text-trans transition">Job Posts</span>
              <div class="card_circle transition"></div>
            </a>
          </div>
        </div>
        <div class="col-12 col-md-6 col-lg-3 p-2 d-flex justify-content-center">
          <div class="special-card transition" routerLink="/recruiter/applicants">
            <a>
              <span class="material-icons icon-trans1 display-icon transition">
                task_alt
              </span>
            </a>
            <a>
              <span class="text-trans1 transition">Manage Applicants</span>
              <div class="card_circle transition"></div>
            </a>
          </div>
        </div>
        <div class="col-12 col-md-6 col-lg-3 p-2 d-flex justify-content-center">
          <div class="special-card transition" (click)="openModal(feedback)">
            <a>
              <span class="material-icons icon-trans display-icon transition ">
                chat
              </span>
            </a>
            <a>
              <span class="text-trans transition">Feedback</span>
              <div class="card_circle transition"></div>
            </a>
          </div>
        </div>

      </div>
    </div>
    <div class="row justify-content-center bg-lightest-blue p-0 m-0 mt-5">
      <div class="col-sm-10 p-0 m-0">
        <app-emp-recent-job-posts></app-emp-recent-job-posts>
      </div>
    </div>
  </div>
</div>
<ng-template #feedback>
  <div class="bg-white box-shadow p-3 m-3" style="border-radius: 10px;">
    <h4>Feedback</h4>
    <div>
      <div class="my-3">
        <label class="text-grey semi-bold">Type</label>
        <ng-select [(ngModel)]="type" placeholder="Select type">
          <ng-option value="Report a complain">Complaint</ng-option>
          <ng-option value="Review">Suggestion</ng-option>
        </ng-select>
      </div>
      <div class="my-3">
        <label class="text-grey semi-bold">Description</label>
        <textarea class="form-control" [(ngModel)]="description" placeholder="Add minimum 10 words!"
          rows="4"></textarea>
      </div>
    </div>
    <div class="d-flex justify-content-end px-2 mt-4">
      <button class="btn btn-secondary p-0 text-smd px-2 mr-3" (click)="cancel()">Cancel</button>
      <button class="btn btn-primary text-smd px-2 p-0" (click)="send()">Send</button>
    </div>
  </div>
</ng-template>