<ion-header [translucent]="true" class="bg-primary">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>My Profile</ion-title>
  </ion-toolbar>
</ion-header>
<div class="bg-white" style="overflow: auto;" *ngIf="!isServiceRunning">
  <span class="d-block text-right bold material-icons mt-3 mr-3 text-link"
    [ngClass]="isEditing ? 'text-primary' : 'text-grey'" (click)="onEnableEditing()">edit</span>
  <br>
  <br>
  <div class="w-100 d-flex justify-content-center">
    <div class="vertical-center">
      <div class="">
        <div class="w-100 d-flex justify-content-center">
          <input type="file" accept=".png, .jpg, .jpeg" (change)='uploadImage($event,1)'
            class="position-absolute w-25 h-25" style="opacity: 0 !important;" />
          <span class="rounded-circle mx-auto text-center material-icons pt-3 text-grey text-md" *ngIf="!userPhoto"
            style="border-style: dashed; height: 70px !important; width: 70px !important; border-color: rgb(129, 129, 129);">photo</span>
          <img *ngIf="userPhoto" class="img-fulid rounded-circle"
            style="height: 70px !important; width: 70px !important;" src="{{userPhoto}}" alt="">
        </div>
      </div>
      <div class="ml-3">
        <div class="w-100 text-grey semi-bold text-smd">{{user.name}}</div>
        <div class="w-100 text-grey semi-bold text-smd">{{user.email}}</div>
        <span class="badge badge-danger">Admin</span>
      </div>
    </div>
  </div>
  <div class="mt-4 row d-flex justify-content-center" [formGroup]="detailForm">
    <div class="col-sm-4 mx-3 mb-2">
      <mat-form-field appearance="outline" class="p-0 w-100 mat-form-field">
        <mat-label class="p-0">Name</mat-label>
        <input matInput placeholder="Enter name" class="p-0" formControlName='name'>
        <mat-error>Enter valid name</mat-error>
      </mat-form-field>
    </div>
    <div class="col-sm-4 mx-3 mb-2">
      <mat-form-field appearance="outline" class="p-0 w-100 mat-form-field">
        <mat-label class="p-0">Phone number</mat-label>
        <span matPrefix>+91 &nbsp;</span>
        <input matInput type="tel" placeholder="Enter email" class="p-0" formControlName='mobile'>
        <mat-error>Enter valid mobile number</mat-error>
      </mat-form-field>
    </div>
    <div class="col-sm-4 mx-3 mb-2">
      <mat-form-field appearance="outline" class="p-0 w-100 mat-form-field">
        <mat-label class="p-0">Email</mat-label>
        <input matInput placeholder="Enter email" class="p-0" formControlName='email'>
      </mat-form-field>
    </div>
    <div class="col-sm-4 mx-3 mb-2">
      <mat-form-field appearance="outline" class="p-0 w-100 mat-form-field">
        <mat-label class="p-0">Alternate contact number</mat-label>
        <input matInput placeholder="Enter email" class="p-0" formControlName='alternateNumber'>
        <mat-error>Enter valid email*</mat-error>
      </mat-form-field>
    </div>
    <div class="col-sm-4 mx-3 mb-2">
    </div>
    <div class="col-sm-12 my-3 text-grey">
      <h5 class="text-center">Organization Details</h5>
    </div>
    <div class="col-sm-4 mx-3 mb-2">
      <mat-form-field appearance="outline" class="p-0 w-100 mat-form-field">
        <mat-label class="p-0">Organization name</mat-label>
        <input formControlName='organizationName' matInput placeholder="Enter Organization name" class="p-0">
        <mat-error>Enter valid name</mat-error>
      </mat-form-field>
    </div>
    <div class="col-sm-4 mx-3 mb-2">
      <mat-form-field appearance="outline" class="p-0 w-100 mat-form-field">
        <mat-label class="p-0">Organization field</mat-label>
        <input formControlName='field' matInput placeholder="Enter Organization field" class="p-0">
        <mat-error>Enter valid field</mat-error>
      </mat-form-field>
    </div>
    <div class="col-sm-4 mx-3 mb-2">
      <mat-form-field appearance="outline" class="p-0 w-100 mat-form-field">
        <mat-label class="p-0">Contact number</mat-label>
        <span matPrefix>+91 &nbsp;</span>
        <input formControlName='organizationMobile' matInput placeholder="Enter contact number" type="tel" class="p-0"
          value='psj'>
        <mat-error>Enter valid contact number*</mat-error>
      </mat-form-field>
    </div>
    <div class="col-sm-4 mx-3 mb-2">
      <mat-form-field appearance="outline" class="p-0 w-100 mat-form-field">
        <mat-label class="p-0">organizationEmail</mat-label>
        <input formControlName='organizationEmail' matInput placeholder="Enter email" class="p-0">
        <mat-error>Enter valid email</mat-error>
      </mat-form-field>
    </div>
    <div class="col-sm-4 mx-3 mb-2">
      <mat-form-field appearance="outline" class="p-0 w-100 mat-form-field">
        <mat-label class="p-0">Address line one</mat-label>
        <input formControlName='addressLineOne' matInput placeholder="Enter Address line one" class="p-0" value='psj'>
        <mat-error *ngIf="false">Enter valid details</mat-error>
      </mat-form-field>
    </div>
    <div class="col-sm-4 mx-3 mb-2">
      <mat-form-field appearance="outline" class="p-0 w-100 mat-form-field">
        <mat-label class="p-0">Address line two</mat-label>
        <input formControlName='addressLineTwo' matInput placeholder="Address line two" class="p-0">
        <mat-error>Enter valid details</mat-error>
      </mat-form-field>
    </div>
    <div class="col-sm-4 mx-3 mb-2">
      <mat-form-field appearance="outline" class="p-0 w-100 mat-form-field">
        <mat-label class="p-0">City</mat-label>
        <input formControlName='city' matInput placeholder="Enter city" class="p-0">
        <mat-error>Enter valid city</mat-error>
      </mat-form-field>
    </div>
    <div class="col-sm-4 mx-3 mb-2">
      <mat-form-field appearance="outline" class="p-0 w-100 mat-form-field">
        <mat-label class="p-0">Pincode</mat-label>
        <input formControlName='pincode' matInput type="number" placeholder="Enter email" class="p-0">
        <mat-error>Enter valid pincode</mat-error>
      </mat-form-field>
    </div>
    <div class="col-sm-4 my-2">
      <div class="w-100 d-flex justify-content-center">
        <input type="file" accept=".png, .jpg, .jpeg" (change)='uploadImage($event)' class="position-absolute w-25 h-25"
          style="opacity: 0 !important;" />
        <span class="rounded-circle mx-auto text-center material-icons pt-3 text-grey text-md" *ngIf="!organizationLogo"
          style="border-style: dashed; height: 70px !important; width: 70px !important; border-color: rgb(129, 129, 129);">photo</span>
        <img *ngIf="organizationLogo" class="img-fulid rounded-circle"
          style="height: 70px !important; width: 70px !important;" src="{{organizationLogo}}" alt="">
      </div>
      <span class="d-block text-smd text-bold text-center mt-2">LOGO</span>
    </div>
    <div class="col-sm-11 d-flex justify-content-end mb-4 mt-3" *ngIf="isEditing">
      <button type="submit" class="btn btn-primary p-0 text-smd bg-violet px-4 mr-2" (click)="save()">Save</button>
      <button class="btn btn-secondary text-smd px-4 p-0" (click)="cancel()">Cancel</button>
    </div>
  </div>
</div>