.sort-by-selected{
    border: 1px solid #4b4b4b;
    color: white;
    background-color: #0E2043;
}

.sort-by-not-selected{
    border: 1px solid #4b4b4b;
    color: #0E2043;
    background-color: #E1E7FF;
}

::ng-deep .mat-step-header .mat-step-icon-selected, .mat-step-header .mat-step-icon-state-done, .mat-step-header .mat-step-icon-state-edit {
    background-color: red!important;
}

//input outline color
::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
    color: rgb(255, 255, 255)!important;
    // opacity: 1!important;
}

//mat-input focused color
::ng-deep .mat-form-field-appearance-outline.mat-focused .mat-form-field-outline-thick {
    color: rgb(255, 255, 255)!important;
}

// mat-input error outline color
::ng-deep .mat-form-field-appearance-outline.mat-form-field-invalid.mat-form-field-invalid .mat-form-field-outline-thick{
    color: red!important;
    opacity: 0.8!important;
}

// mat-input carent color
::ng-deep .mat-input-element {
    caret-color: rgb(255, 255, 255)!important;
}

// mat-input error carent color
::ng-deep .mat-form-field-invalid .mat-input-element, .mat-warn .mat-input-element {
    caret-color: red!important;
}

// mat-label normal state style
::ng-deep .mat-form-field-label {
    color: rgba(255, 255, 255, 0.6)!important;
    // color: $mainColor!important;
}

// mat-label focused style
::ng-deep .mat-form-field.mat-focused .mat-form-field-label {
    color: rgb(255, 255, 255)!important;
}

// mat-label error style
::ng-deep .mat-form-field .mat-form-field-invalid .mat-form-field-label {
    color: rgb(255, 255, 255)!important;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: rgb(160, 160, 160);
    opacity: 1; /* Firefox */
  }

//   .job-card  {
//     border-left: 4px solid #0e2043;
//     border-top-left-radius: 6px;
//     border-bottom-left-radius: 6px;
//   }