<div class="w-100 h-100 m-0 p-0" style="overflow: auto; border-radius: 7px; background-color: #f8f8f8"
  *ngIf="!isServiceRunning">
  <div class="row col-sm-10 justify-content-center px-0 pt-2 mx-auto">
    <div class="col-sm-3 d-flex justify-content-center">
      <div class="m-2 d-flex justify-content-center vertical-center">
        <h5 class="text-bold p-3">Showing
          {{filteredJobPosts.length}} Jobs</h5>
      </div>
    </div>
    <div class="col-sm-9 justify-content-center">
      <div class="row col-sm-12 justify-content-center vertical-center shadow bg-white p-2 border-6 mx-auto ">
        <div class="col-sm-10 vertical-center justify-content-center">
          <input type="text" (input)="filterJobPosts()" placeholder="Search by skills or job title"
            class="no-border bg-white text-black" style="width: 95%;" [formControl]="myControl">
        </div>
        <button class="col-sm-2 btn btn-primary px-2 py-1 border-6 " (click)="filterJobPosts()">Search </button>
      </div>
    </div>
  </div>
  <div class="row col-sm-12 justify-content center px-0 bg-lightest-blue mx-0">
    <div class="row col-sm-10 justify-content-center px-0 pt-2 mx-auto mt-4">
      <div class="col-sm-3 mt-2">
        <div (click)="openRefineJobs()"
          class="border-12 m-2 mr-2 w-100 bg-white overlay text-dark p-3 semi-bold text-ssmd vertical-center justify-content-between">
          Refine
          Jobs <span class="material-icons" *ngIf="!isScreenBig">
            arrow_drop_down
          </span></div>
        <div class="border-12 text-link m-2 mr-2 w-100 bg-white overlay p-3" *ngIf="refineJobsDropDown">
          <div class="vertical-center justify-content-between" (click)="isSortByExpanded = !isSortByExpanded">
            <span class="text-ssmd">Sort By</span>
            <span class="material-icons text-grey text-md bold"
              [ngClass]="isSortByExpanded === true? 'rotate-right': 'rotate-left'">expand_more</span>
          </div>
          <div *ngIf="isSortByExpanded" class="my-2 row vertical-center justify-content-center">
            <div class="m-2">
              <span style="border-radius: 20px;"
                [ngClass]="isSortBy === true ? 'sort-by-selected' : 'sort-by-not-selected'" class=" px-3 py-1"
                (click)="isSortBy = true">Relevance</span>
            </div>
            <div class="m-2">
              <span style="border-radius: 20px;" (click)="isSortBy = false"
                [ngClass]="isSortBy === false ? 'sort-by-selected' : 'sort-by-not-selected'"
                class="px-3 py-1">Date</span>
            </div>
          </div>
        </div>
        <div class="border-12 text-link m-2 mr-2 w-100 bg-white overlay p-3" *ngIf="refineJobsDropDown">
          <div class="vertical-center justify-content-between" (click)="isExperienceExpanded = !isExperienceExpanded">
            <span class="text-ssmd">Experience</span>
            <span class="material-icons text-grey text-md bold"
              [ngClass]="isExperienceExpanded === true? 'rotate-right': 'rotate-left'">expand_more</span>
          </div>
          <div *ngIf="isExperienceExpanded" class="my-2">
            <label class="text-sm text-grey">Minimum Experience req. (in years)</label>
            <mat-slider class="w-100" [(ngModel)]="refine.minExp" thumbLabel displayWith="" tickInterval="1" min="0"
              max="10">
            </mat-slider>
          </div>
        </div>
        <div class="border-12 text-link m-2 mr-2 w-100 bg-white overlay p-3" *ngIf="refineJobsDropDown">
          <div class="vertical-center justify-content-between" (click)="isPartTimeExpanded = !isPartTimeExpanded">
            <span class="text-ssmd">Job Type</span>
            <span class="material-icons text-grey text-md bold"
              [ngClass]="isPartTimeExpanded === true? 'rotate-right': 'rotate-left'"> expand_more</span>
          </div>
          <div *ngIf="isPartTimeExpanded" class="my-2 p-2">
            <div class="mb-3 vertical-center">
              <span class="text-sm semi-bold text-grey mr-2">Part
                time</span>
              <mat-slide-toggle [(ngModel)]="refine.partTime"></mat-slide-toggle>
            </div>
            <div class="mb-2 vertical-center">
              <span class="text-sm semi-bold text-grey mr-2">Full
                time</span>
              <mat-slide-toggle [(ngModel)]="refine.fullTime"></mat-slide-toggle>
            </div>
            <div class="mb-2 vertical-center">
              <span class="text-sm semi-bold text-grey mr-2">Contractual</span>
              <mat-slide-toggle [(ngModel)]="refine.contractual"></mat-slide-toggle>
            </div>
          </div>
        </div>
        <div class="border-12 text-link m-2 mr-2 w-100 bg-white overlay p-3" *ngIf="refineJobsDropDown">
          <div class="vertical-center justify-content-between" (click)="isJobCategoryExpanded = !isJobCategoryExpanded">
            <span class="text-ssmd">Job Category</span>
            <span class="material-icons text-grey text-md bold"
              [ngClass]="isJobCategoryExpanded === true? 'rotate-right': 'rotate-left'"> expand_more</span>
          </div>
          <div *ngIf="isJobCategoryExpanded" class="my-2 p-2">
            <div class="mb-3 vertical-center">
              <span class="text-sm semi-bold text-grey mr-2">Jobs</span>
              <mat-slide-toggle [(ngModel)]="refine.jobs"></mat-slide-toggle>
            </div>
            <div class="mb-2 vertical-center">
              <span class="text-sm semi-bold text-grey mr-2">Internships</span>
              <mat-slide-toggle [(ngModel)]="refine.internships"></mat-slide-toggle>
            </div>
          </div>
        </div>
        <div class="border-12 text-link m-2 mr-2 w-100 bg-white overlay p-3" *ngIf="refineJobsDropDown">
          <div class="vertical-center justify-content-between" (click)="isRemoteExpanded = !isRemoteExpanded">
            <span class="text-ssmd">Remote</span>
            <span class="material-icons text-grey text-md bold"
              [ngClass]="isRemoteExpanded === true? 'rotate-right': 'rotate-left'">expand_more</span>
          </div>
          <div *ngIf="isRemoteExpanded" class="my-2">
            <mat-slide-toggle [(ngModel)]="refine.remote"></mat-slide-toggle>
          </div>
        </div>
        <div class="border-12 text-link m-2 mr-2 w-100 bg-white overlay p-3" *ngIf="refineJobsDropDown">
          <div class="vertical-center justify-content-between" (click)="isLocationExpanded = !isLocationExpanded">
            <span class="text-ssmd">Location</span>
            <span class="material-icons text-grey text-md bold"
              [ngClass]="isLocationExpanded === true? 'rotate-right': 'rotate-left'">expand_more</span>
          </div>
          <div *ngIf="isLocationExpanded" class="px-3 pt-3 pb-1">
            <div *ngFor="let location of allLocations">
              <section class="example-section">
                <mat-checkbox class="example-margin text-uppercase" [checked]="checkLocation(location)"
                  (change)="updateLocation($event, location)">
                  {{location}}
                </mat-checkbox>
              </section>
            </div>
          </div>
        </div>
        <div class="row col-sm-12 justify-content-center mx-auto">
          <button *ngIf="isChanged()" class="overlay btn btn-primary mx-auto text-smd"
            style="border-radius: 30px; bottom: 0" (click)="refineJobs()">Refine
            Jobs</button>
          <button *ngIf="isFilterAdded()" class="overlay btn btn-primary text-smd" (click)="clearFilter()"
            style="border-radius: 30px; bottom: 0">Clear Filter</button>
        </div>
      </div>

      <div class="col-sm-9 mx-0 mt-2 p-0">
        <app-not-found *ngIf="filteredJobPosts.length === 0"
          message="We couldn't find any results. Change selected filters or try later."
          style="margin-top: 6rem !important;" class="center-parent">
        </app-not-found>

        <div class="m-2 mr-2 mb-3 " *ngFor="let jobPost of filteredJobPosts" (click)="seeDetails(jobPost)">
          <div class="card border-4 shadow-lg p-3 text-link border-8">
            <div class="d-flex mb-3 justify-content-between">
              <div class="d-flex flex-wrap">
                <div class="mr-3 mb-2">
                  <span>
                    <img class="border-6" *ngIf="jobPost.jobPost.companyLogo" src="{{jobPost.jobPost.companyLogo}}"
                      style="height: 60px; width: 58.2px;">
                  </span>
                </div>
                <div class="text-left">
                  <h4>{{jobPost.jobPost.title}}</h4>
                  <div class="column">
                    <div class="d-flex vertical-center flex-wrap">
                      <div class=" vertical-center justify-content-start mr-3">
                        <span class="material-icons-outlined  mr-2 text-primary">work</span>
                        <span class=" text-lato text-primary d-inline">Experience : </span>
                        <span class="text-lato text-primary">&nbsp;{{ jobPost.jobPost ? jobPost.jobPost.experience :
                          ''
                          }}
                          years</span>
                      </div>

                      <div class="vertical-center justify-content-start mr-3">
                        <span class="material-icons  mr-2 text-primary">business</span>
                        <span class=" text-lato text-primary d-inline">Company : </span>
                        <span class="text-lato text-primary">&nbsp;{{jobPost.jobPost.companyName}}</span>
                      </div>
                    </div>
                    <div class="d-flex flex-wrap mt-1">
                      <div *ngIf="jobPost.jobPost.jobType === 'In office'"
                        class=" vertical-center justify-content-start mr-2">
                        <span class="material-icons-outlined text-md  mr-2 text-primary">location_on</span>
                        <span class=" text-lato text-smd text-primary">&nbsp;{{jobPost.jobPost.location}}</span>
                      </div>

                      <div *ngIf="jobPost.jobPost.jobType !== 'In office'"
                        class=" vertical-center justify-content-start mr-2">
                        <span class="material-icons-outlined text-md  mr-2 text-primary">home</span>
                        <span class=" text-lato text-smd text-primary d-inline">Work from home</span>
                      </div>

                      <div class="vertical-center justify-content-start mr-2">
                        <span class="material-icons text-md  mr-2 text-primary">
                          schedule
                        </span>
                        <span class=" text-smd text-lato text-primary">Published on&nbsp;{{jobPost.jobPost.createdAt |
                          date: 'dd
                          MMMM
                          yyyy'}}</span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div *ngIf="jobPost.isApplied" class=" d-flex align-items-start justify-content-center">
                <div class="p-2 bg-light border-12">Applied</div>
              </div>
            </div>
            <div class="d-flex justify-content-between flex-wrap vertical-center">
              <div class="my-2 d-flex vertical-center flex-wrap" *ngIf="jobPost.jobPost.skills.length > 0">

                <div class="px-2 py-1 text-primary bg-lightest-blue mr-2 border-6 text-lato text-sm">
                  {{jobPost.jobPost.skills[0].skillName }}
                </div>
                <div class="px-2 py-1 text-primary bg-lightest-blue mr-2 border-6 text-lato text-sm"
                  *ngIf="jobPost.jobPost.skills.length > 1">
                  {{jobPost.jobPost.skills[1].skillName }}
                </div>
              </div>

              <div class="d-flex vertical-center flex-wrap justify-content-between">
                <div class="justify-content-between vertical-center mr-2">
                  <div class="btn btn-primary px-2 py-1 mr-2 border-6 text-white text-lato text-sm">REWARD :
                    ₹{{jobPost.referReward}}</div>
                </div>
                <div class="my-2 vertical-center justify-content-start">
                  <span class="text-black text-slmd">&nbsp; ₹ {{jobPost.jobPost.salary}}</span>
                  <div class="d-flex ml-1 align-self-end">
                    <span class="text-fluid ">{{jobPost.jobPost.salaryType}}</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<app-spinner-component *ngIf="isServiceRunning"></app-spinner-component>